name: Registry

on:
  push:
    branches:
      - main
      - ci/*
      - feature/*
      - test/*

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@bismuthjs'

      - name: Write .npmrc
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc

      - run: npm install --legacy-peer-deps
      - run: tsc --build
      - run: npm publish 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
